@model ProfessorLayton.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</h2>
<br>
<p>
    @Html.DisplayFor(model => model.Description)
</p>
</br>

</br>


@{
    var nbimg = 0;
    if((Model.UrlImage1 is not null && Model.UrlImage2 is not null && Model.UrlImage3 is not null)|| (Model.ImageFile1!=null && Model.ImageFile2!=null && Model.ImageFile3!=null))
        nbimg = 3;
    else if(Model.UrlImage1 is not null && Model.UrlImage2 is null && Model.UrlImage3 is null|| (Model.ImageFile1!=null && Model.ImageFile2!=null && Model.ImageFile3==null)) 
        nbimg = 1;
    else if(Model.UrlImage1 is not null && Model.UrlImage2 is not null && Model.UrlImage3 is null || (Model.ImageFile1!=null && Model.ImageFile2==null && Model.ImageFile3==null)) 
        nbimg = 2;    
}
@*Count the number of image a character possess
*@
@{
    string rootpath = System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot");
    string prenom=@Model.FirstName;
    string extensionJpg=".jpg";
    string extensionPng=".png";
    int fileCount = (from file in Directory.EnumerateFiles(rootpath+"/img/character",prenom+"*")
                        select file).Count();
    int isJpg=(from file in Directory.EnumerateFiles(rootpath+"/img/character",prenom+"?"+extensionJpg)
                        select file).Count();
    int isPng=(from file in Directory.EnumerateFiles(rootpath+"/img/character",prenom+"?"+extensionPng)
                        select file).Count();                    
}

<div class="row">
    @{for(int i=1; i<=fileCount;i++){
        <div class="col-sm-@(12/fileCount) " align="center">
        @* <img  src= "~/img/character/@Url.Content(Model.getUrl(i))" alt="Photo de @Model.FirstName" width=auto height=250 /> *@
        @if(isJpg>0)
        {
            <img  src= "~/img/character/@Url.Content(@prenom+i+extensionJpg)" alt="Photo de @Model.FirstName" width=auto height=250 />
        }
        else if(isPng>0)
        {
            <img  src= "~/img/character/@Url.Content(@prenom+i+extensionPng)" alt="Photo de @Model.FirstName" width=auto height=250 />
        }
        <br><br><br><br>
  </div>
    }} 
<hr>
    <center>
<br>
   <h5>	&#128270; &#11015; Il est possible de retrouver @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) <text> dans le ou les jeu(x) suivant(s) :</text></h5>
    @foreach (var game in Model.Games)
    {
            @:<div class="container">
            @:<div class="col">
            @:<center>
            <br>
            <a asp-area="" asp-controller="Games" asp-action="Details" asp-route-id=@game.Id class="btn btn-outline-dark" role="button"> @Html.DisplayFor(item => game.Title) </a>
            @:</center>
            @:</div>
        
    }
<br>

</center>
<div>
    
    <a asp-action="Index">Retour</a>
</div>


